<!-- <nav>
  <a routerLink="/login" routerLinkActive="active">Login</a>
  <a routerLink="/signup" routerLinkActive="active">Signup</a>
</nav> -->
<nav class="navbar">
  <div class="logo">🍽️ MealPlanner</div>

  <ul class="nav-links">
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/meal-plans">Dashboard</a></li>
    <li><a routerLink="/recipes">Recipes</a></li>
    <li><a routerLink="/grocery-list">Grocery List</a></li>
    <!-- <li><a routerLink="/calendar"></a></li> -->
    <li><a routerLink="/nutrition-tracker">Nutrition Tracker</a></li>
    <!-- <li><a routerLink="/community">Community</a></li> -->
    <li><a routerLink="/profile">My Profile</a></li>
  </ul>

  <div class="nav-actions">
    <input type="text" placeholder="Search..." class="search-bar" />
    <button routerLink="/signup">Sign Up</button>
    <button routerLink="/login" class="login-btn">Login</button>
  </div>
</nav>
